@import url('https://fonts.cdnfonts.com/css/alegreya-sans-sc');
section{
    padding-top: 20px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -30px;
}

.artcontinvi {

    width: 260px;
    height: 400px;
    
}
.artcontinvi img{
    position: relative;
   
    left:-100px;
    border-radius: 90px;
    width: 420px;
    height: 200px;
    filter:opacity(0.36);
}
.artit{
    display: flex;
    padding: 40px;
    margin-top: -40px;
    margin-bottom: -40px;
    justify-content: flex-end;
    background: #ffffff;
}
h2{
    font-size:64px;
    font-family: 'Alegreya Sans SC', sans-serif;
    height: 40px;
    color:#E1822E;
    background-color: white;
}
.artcont{
    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
    color:#098D9F;
    position:relative;
    background-color: white;
    display: flex;
    width: 280px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.artcont img{
    width: 95%;
    height: 100%;
}
.artcont p{
    color:#098D9F;
    font-size: 24px;
}
.artbot{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.underWave{
    z-index: 12;
    bottom: 200px;
    left : 14px;
    position:relative;
    
}