* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }


  section{
    margin-bottom: -35px !important;
  }
  body {
    font-family: sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    color: white;
    text-align: center;
    padding: 2em 0;
  }
 
  #ahist{
    font-weight: 900;
    position:absolute;
    width: 600px;
    height: 160px;
    
    text-shadow: 1px 1px 3px rgba(128, 128, 128, 0.856);
  }
  #ahist h3{
    font-size: 120px;
  }
  .goutes{
    
    display: flex;
    transform: rotateZ(-180deg);
    filter: blur(3.25px) opacity(0.3) ;
    border-radius: 120px;

    
    
  }
  .carousel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    overflow: hidden;
    width: 100%;
    
  }
  
  .carousel-main.slide-effect {
    display: flex;
    height: 400px;
    width: 700px;
    gap: 10em;
    margin: 1em;
    box-shadow: 0 0 10px 0 #fff;
  }
  
  .carousel-main.slide-effect .carousel-item {
    min-width: 700px;
    height: 100%;
    opacity: 0.5;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }
  
  .carousel-main.fade-effect {
    display: flex;
    height: 350px;
    width: 750px;
    margin: 1em;
    box-shadow: 0 0 10px 0 #fff;
  }
  
  .carousel-main.fade-effect .carousel-item {
    position: absolute;
    min-width: 700px;
    height: 400px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .carousel-container .carousel-nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    bottom: 30px;
  }
  
  .carousel-container .carousel-nav button {
    border: 4px solid #000;
    background: white;
    cursor: pointer;
    z-index: 5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
  .carousel-container .carousel-nav button.active {
    background: #000;
  }
  .carousel-button img{
    width:70px;
  }
  .carousel .carousel-button {
    border: none;
    background: none;
    cursor: pointer;
    z-index: 5;
    
  }
  
  .carousel .carousel-button svg {
    fill: #fff;
    width: 50px;
    height: 50px;
  }
  
  .carousel .carousel-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .carousel .carousel-item.active {
    opacity: 1;
  }
  .carousel .carousel-item{
      filter: brightness(0.7) ;

  }
  .carousel .carousel-item:nth-child(1) {
    background-image: url('../img/lettu.jpg');
  }
  
  .carousel .carousel-item:nth-child(2) {
    background-image: url('../img/turtle.jpg');
  }
  
  .carousel .carousel-item:nth-child(3) {
    background-image: url('../img/totopng.png');
  }
  
  .carousel .carousel-item:nth-child(4) {
    background-color: #ffff00;
  }
  
  .carousel .carousel-item:nth-child(5) {
    background-color: #00ffff;
  }
  
  .carousel .carousel-item:nth-child(6) {
    background-color: #ff00ff;
  }
  
  .carousel .carousel-item:nth-child(7) {
    background-color: #ffffff;
  }
  
  .carousel .carousel-item:nth-child(8) {
    background-color: #000000;
  }
  
  .carousel .carousel-item:nth-child(9) {
    background-color: #ff8000;
  }
  
  .carousel .carousel-item:nth-child(10) {
    background-color: #ff0080;
  }
  
  #github {
    position: fixed;
    bottom: 0.25em;
    left: 0.25em;
    background-color: #111;
    border-radius: 5px;
  }
  
  #github:hover {
    background-color: #222;
  }
  
  #github a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.25em 0.5em;
  }
  
  #github svg {
    fill: white;
    width: 25px;
    height: 25px;
    
  }

