.genPoly{
    display:flex;
    flex-direction:column;
    position: relative;
    width: auto !important;
    height: auto !important;
    margin-bottom: -35px;
    margin-top: -35px;
    background: url(../image/feuilleBG.png);
    background-position: center;
    
}
.poly1{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 20px;
    width: 300px;
    height: 262px;
    background-color: white;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 74% 100%, 25% 100%, 0 50%);
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
   align-items:center;
   align-self:center;
   font-family: 'Space Mono';
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 154.6%;
   text-align: center;
   letter-spacing: -0.045em;
   color: #FFFFFF;
   text-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
 }


.txtPolyP{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 154.6%;
    text-align: center;
    letter-spacing: -0.045em;
    color: #FFFFFF;
    top: 60px;
    right: 54px;
    text-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
}

.poly2{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: -80px;
}

.poly3{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 10px;
}

.poly4{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 10px;
}

.imgPoly{
    display: flex;
    position: absolute;
    top: 368px;
    transform: rotateZ(-60deg);
}
.imgPoly2{
    display: flex;
    position: absolute;
    top: 368px;
    right: 0px;
    transform: rotateZ(-60deg);
}
.imgPoly3{
    display: flex;
    position: absolute;
    top: 660px;
    transform: rotateZ(-60deg);
}
.imgPoly4{
    display: flex;
    position: absolute;
    top: 660px;
    right: 0px;
    transform: rotateZ(-60deg);
}

.textPoly{
    position: relative;
    margin-left: -240px;
    margin-top: 90px;
}

.poly6{
    position: relative;
}

.poly7{
    position: relative;
}


@media all and (max-width:584px) {
    .media2{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        padding-top:10px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width:584px) {
    .media5{
        display: flex;
        justify-content: center;
        margin-left: 50px;
    }
}

@media all and (max-width:1146px) {
    .media3{
        display: flex;
        position: relative;
        justify-content: space-between;
        justify-content: center;
        margin-left: 230px;
        margin-right: 230px;
        margin-top: 10px;
        }
}

@media all and (max-width:1146px) {
    .media4{
        display: flex;
        position: relative;
        justify-content: space-between;
        justify-content: center;
        margin-left: 230px;
        margin-right: 230px;
        margin-top: 10px;
    }
    .imgPoly{
        display: flex;
        position: absolute;
        top: 428px;
        margin-top: 10px;
    }
    
  }

  @media all and (max-width:1216px) {
    .media1{
        display: flex;
        position: relative;
        justify-content: space-between;
        margin-left: 230px;
        margin-right: 230px;
        margin-top: 0px;
    }
  }

  @media all and (max-width:584px) {
      .media6{
          display: flex;
          position: relative;
          flex-direction: column;
          justify-content: center;
          padding-top:10px;
          margin-left: auto;
          margin-right: auto;
        }
    }
    
    @media all and (max-width:810px) {
        .mediaPad1{
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            padding-top:0;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    @media all and (max-width:810px) {
    .mediaPad2{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        top:150px;
        left:-50px;
        margin-left: auto;
        margin-right: auto;
            }
            .poly2{
                left: 25px;
            }
            .poly3{
                left: 25px;
            }
            .poly4{
                left: 25px;
            }
          }

          @media all and (max-width:810px) {
            .mediaPad3{
                display: flex;
                position: relative;
                flex-direction: column;
                justify-content: center;
                padding-top:100px;
                margin-left: auto;
                margin-right: auto;
                    }
                  }

                  @media all and (max-width:584px) {
                    .mediaPad4{
                        display: flex;
                        position: relative;
                        flex-direction: column;
                        justify-content: center;
                        top:0;
                        left:0;
                        padding-top:10px;
                        margin-left: auto;
                        margin-right: auto;
                            }
                            .poly2{
                                left: 0;
                            }
                            .poly3{
                                left: 0;
                            }
                            .poly4{
                                left: 0;
                            }
                        }
    @media all and (max-width:1146px) {
    .imgPoly{
        display: flex;
        position: absolute;
        top: 448px;
        }
        .imgPoly2{
            display: flex;
            position: absolute;
            top: 448px;
            margin-top: 10px;
            }
            .imgPoly3{
                display: flex;
                position: absolute;
                top: 739px;
                margin-top: 10px;
                }
                .imgPoly4{
                    display: flex;
                    position: absolute;
                    top: 739px;
                    margin-top: 10px;
                    }
    }

    @media all and (max-width:1078px) {
        .imgPoly{
            display: none;
            }
            .imgPoly2{
                display: none;
                }
                .imgPoly3{
                    display: none;
                    }
                    .imgPoly4{
                        display: none;
                        }
        }

        .txtPoly4g{
        position: absolute;
        width: 185px;
        height: 196px;
        
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 154.6%;
        
        /* or 49px */
        text-align: center;
        letter-spacing: -0.045em;
        
        color: #FFFFFF;
        top:80px;
        left:60px;
        text-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
        }


        .txtPoly1g{
            position: relative;
            width: 185px;
            height: 196px;
            
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 154.6%;
            
            /* or 49px */
            text-align: center;
            letter-spacing: -0.045em;
            z-index: 10000;
            color: #FFFFFF;
            text-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
            }

    
            .txtPoly1d{
                position: absolute;
                width: 185px;
                height: 196px;
                
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 154.6%;
                
                /* or 49px */
                text-align: center;
                letter-spacing: -0.045em;
                
                color: #FFFFFF;
                top:60px;
                right: 54px;
                text-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
                }
        .txtPolyTop{
            position: absolute;
            width: 185px;
            height: 196px;
            
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 154.6%;
            
            /* or 49px */
            text-align: center;
            letter-spacing: -0.045em;
            
            color: #FFFFFF;
            top:80px;
            text-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
            }

        .txtPoly1{
            position: absolute;
            width: 185px;
            height: 196px;
            
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 154.6%;
            
            /* or 49px */
            text-align: center;
            letter-spacing: -0.045em;
            
            color: #FFFFFF;
            top:80px;
            right: 54px;
            text-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
            }


            .txtPoly4d{
                position: absolute;
                width: 185px;
                height: 196px;
                
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 154.6%;
                
                /* or 49px */
                text-align: center;
                letter-spacing: -0.045em;
                
                color: #FFFFFF;
                top:103px;
                right: 54px;
                text-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
                }


                /* @media all and (max-width:1070px) { */
                /* .txtPoly1g{
                    left:0;
                }
                } */
