.box {
    /* background-color: #3200d5; */
    display: grid;
    width: 100%;
    font-size: 18px;
    grid-template-columns: 1fr 2fr;
  }

  .box2 {
      /* background-color: #3200d5; */
      display: grid;
      width: 100%;
      font-size: 18px;
      grid-template-columns: 1fr 3fr;
    }
    
    .divimg {
        width: 50px;
        height: 50px;
        margin: 10px;
        margin-top:-20px;
        align-self: flex-start;
    }

    .imgrs {
    max-width: 100%;
    max-height: 100%;
  }
  
  .imgpos {
    margin-bottom: 15px;
    width: 40px;
    height: 50px;
  }

  .imgtel {
    width: 40px;
    height: 40px;
  }

  .imgdis {
    align-self: center;
    width: 150px;
    height: 150px;
  }

    .imgmail {
    width: 40px;
    height: 40px;
  }
#sloganBot{
  font-size:40px !important;
  width:500px;
  font-style: italic;
  text-decoration: underline;
}
  .p{
    font-size: 22px;
    font-weight:bold;
    line-height: 40px;
    color: white !important;
  }
  
.row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 25px;

}
.col1 {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding:0;
}


.jcenter{
    align-self: center;
}

.divdis {
    display:flex;
    width: 100%;
    margin-top: 80px;
    height: 184px;
    background: #FFFFFF;
    box-shadow: 11px 16px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color:black !important;
}

.margin {
    margin-left: 40px;
    margin-right: 30px;
}
.margintxt {
    margin-top: -5px;
    padding: 0;
    margin-left: 20px;
    margin-right: 30px;
}

.marginmail {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.03em;
    text-align: left;
    align-self: center;
    margin-left: 20px;
    margin-right: 30px;
}

.body1{
    /* background-color: #386474 !important; */
    color:white !important;
}

.txt{
    font-family: 'Alegreya Sans SC';
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.03em;
    text-align: center;
}
.txt2{
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.03em;
    text-align: left;
    color :white;
}
.allcenter {
    justify-content: center;
    align-self: center;
    text-align: center;
}

.txtmail{
    font-family: 'Montserrat';
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.03em;
text-align: left;
}

.tot{
left: 0px;
border-radius: 0px;
padding-top: 100px;
width: 100%;
}

.coord{
height: 41px;
width: 244px;
font-family: 'Montserrat';
font-size: 34px;
font-weight: 600;
line-height: 41px;
letter-spacing: 0.03em;
text-align: center;
}
