.box {
  /* background-color: #3200d5; */
  display: grid;
  width: 100%;
  font-size: 18px;
  grid-template-columns: 1fr 2fr;
}

.box2 {
    /* background-color: #3200d5; */
    display: grid;
    width: 100%;
    font-size: 18px;
    grid-template-columns: 1fr 3fr;
  }
  
  .divimg {
      width: 50px;
      height: 50px;
      margin: 10px
  }

  .imgrs {
  max-width: 100%;
  max-height: 100%;
}

.imgpos {
  width: 40px;
  height: 50px;
}

.imgtel {
  width: 40px;
  height: 40px;
}

.imgdis {
  align-self: center;
  width: 150px;
  height: 150px;
}

  .imgmail {
  width: 40px;
  height: 40px;
}

p{
  line-height: 3px;
  COLOR: BLack;
  width: 50vw;
  height: 20vw;

}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
  align-self: center;
}


.jcenter{
  align-self: center;
}

.divdis {
  display:flex;
  width: 639px;
  background-color: white;
  height: 184px;
  background: #FFFFFF;
  box-shadow: 11px 16px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.margin {
  margin-left: 40px;
  margin-right: 30px;
}
.margintxt {
  margin-top: -5px;
  padding: 0;
  margin-left: 20px;
  margin-right: 30px;
}

.marginmail {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
  align-self: center;
  margin-left: 20px;
  margin-right: 30px;
}

body{
  background-color: white;
}

.txt{
  font-family: 'Alegreya Sans SC';
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: center;
}
.txt2{
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
}
.allcenter {
  justify-content: center;
  align-self: center;
  text-align: center;
}

.txtmail{
  font-family: 'Montserrat';
font-size: 16px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.03em;
text-align: left;
}

.tot{
/* width: 1440px; */
left: 0px;
border-radius: 0px;
}

.coord{
height: 41px;
width: 244px;
font-family: 'Montserrat';
font-size: 24px;
font-weight: 600;
line-height: 41px;
letter-spacing: 0.03em;
text-align: center;
}


/* Rectangle grand article */
.padGA{
position: relative;
width: 500px;
left: 0px;
z-index: 10;
}

.soleilGA{
position: absolute;
width: 217px;
height: 223px;
left: -103px;
top: -10px;
background: url(/tortudev/image/soleil.png);
z-index: 1 !important;
}

.carreGA{
position: absolute;
width: 360px;
height: 363px;
left: -45px;
top: 551px;
background: rgba(56, 100, 116, 0.55);
z-index: 1 !important;
}

.GA {
position: relative;
width: 1187px;
height: 771px;
left: 0;
background: #FFFFFF;
box-shadow: -17px 15px 44px rgba(0, 0, 0, 0.25);
z-index: 100;
}

.titreGA{
font-family: Montserrat;
font-size: 40px;
font-weight: 600;
line-height: 49px;
letter-spacing: 0.03em;
text-align: center;
padding-bottom: 30px;
padding-left: 100px;
z-index: 10;
}

.topGA{
top: 0;
}

.txtGA{
font-family: Montserrat;
font-size: 22px;
font-weight: 300;   
line-height: 27px;
letter-spacing: 0.03em;
text-align: center;
padding-left: 100px;
}

.imgGA{
position: absolute;
width: 544px;
height: 771px;
top: 0;
left: 600px;
background: url(.jpg), #D9D9D9;
}

.barreGAH{
position: absolute;
width: 620px;
height: 70px;
top: 240px;
left: 550px;
background: #FFFFFF;
transform: rotate(168deg);
}

.barreGAB{
position: absolute;
width: 620px;
height: 70px;
top: 540px;
left: 550px;
background: #FFFFFF;
transform: rotate(-168deg);
}

.imgGA100{
width: 544px;
height: 771px;
}



.absoGA{
position: absolute;
height: 1300px;
}

.paddingGA{
  padding-top: 50px;
  margin-bottom: 50px;
}
/**/
.padd{
position: relative !important;
padding-top: 100px;
margin-left: 100px;
}

/* rectange petit article */



.PCPA{
    display: flex;
    position: absolute;
height: 400;
width: 350;
}

.plantePA{
position: relative;
width: 315px;
height: 397px;
left: 0px;
background: url(/tortudev/image/rectanglePlantePA.png);
z-index: 3;
}

.carréPA{
position: relative;
width: 295px;
height: 321px;
top: -375px;
left: 55px;
background: rgba(225, 130, 46, 0.31);
z-index: 1;
}

.carréTxtPA{
  position: relative;
  width: 444px;
  height: 444px;
  left: -219px;
  top: 56px;
  background: #FFFFFF;
  box-shadow: 10px 7px 17px rgba(0, 0, 0, 0.25);
  z-index: 2;
  display: flex;

}

#vaguePA{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  bottom: 149px;
  right: 454px;
}
.vagueBG{
/*! position: absolute; */
width: 321px;
height: 295px;
left: 240px;
top: 225px;
z-index: 1;
align-self: end;
margin-bottom: 3em;
margin-left: -4em;
/*! position: relative; */
}

.petiteImgR{
  position: absolute;
  width: 159px;
  height: 159px;
  left: 242px;
  top: 242px;
  background: url(/tortudev/image/Ellipse.png), #FFFFFF;
  margin: 2em;
  float: right;
}

.txtPA{
  max-height: 350px;
  width: 350px;
  font-family: Montserrat;
  left: 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 8em;
  margin-left: 2em;
  align-self: center;
  margin-top: 2em;
}



/* GENERAL */


@media all and (max-width:1020px) {
  .media1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
  }
}

@media all and (max-width:1110px) {
  .media2{
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width:911px) {
  .media3{
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width:911px) {
  .media4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
  }
}
@media all and (max-width:911px) {
  .media5{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
  }
}

