.moyall div{
    position:relative;
}
.moyAllPar{
    position:relative;;
    margin-top: 160px;
    display:flex;
    

    flex-direction: column;
    align-items: center;
    height: 500px;
}
.zonetxt{
    width:80%;
}
.moyall{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageMo{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.moycont{
    display: flex;
    align-self: center;
    z-index: 1234567890;
    width:1000px;
    height:300px;
    background-color:rgb(255, 255, 255);
    filter: drop-shadow(15px 15px 3px #00000085);

}
.moycont img{
    width: 150px;

}
.waveblack img{
    width:261px;
    height:245px;;
}
.waveblack{
    right:385px;
    bottom:665px;
}

/* ===ok=== */
.sun{
    left:535px;
    bottom:665px;
    width:217px;
    height:223px;
}
.moyred{
    left:400px;
    bottom:1020px;
    width:261px;
    height:245px;
    background: #e1812e50;
}
.plant{
    right:440px;
    bottom:450px;
    width:314px;
    height:227px;
}