.petitart{
  margin-bottom: -955px;
}
.beige {
  position: relative;
  width: 295px;
  height: 321px;
  background: rgba(225, 130, 46, 0.31);
  z-index: 1;
  left: 74px;
  top: -356px;
}

.vague {
  position: relative;
  width: 321px;
  height: 295px;
  z-index: 1;
  align-self: end;
  left: 240px;
  top: -488px;
}

.plante {
  position: relative;
  width: 315px;
  height: 397px;
  left: 5px;
  background: url(/tortudev/image/plante.png);
  z-index: 3;
  top: 10px;
}

.txtPA{
  max-height: 350px;
  width: 350px;
  font-family: Montserrat;
  left: 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 8em;
  margin-left: 2em;
  align-self: center;
  margin-top: 2em;
}

.carreTxt {
  position: relative;
  width: 444px;
  height: 444px;
  background: #FFFFFF;
  box-shadow: 10px 7px 17px rgba(0, 0, 0, 0.25);
  z-index: 2;
  display: flex;
  top: -953px;
  left: 95px;
}

.imgTxt {
position: relative;
z-index: 100;
left: -5px;
top: 280px;
}

.text{
max-height: 350px;
width: 354px;
font-family: Montserrat;
left: 20px;
font-size: 24px;
font-weight: 300;
line-height: 29px;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 8em;
margin-left: 1em;
align-self: center;
margin-top: 7em;
margin-right: -7px;
}