html body{
    background: #3d555e60 !important;
}
#peArt{
    width: 120px;
}
#moArt{
    width: 170px;
}
#grArt{
    width: 150px;
}
.cent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forr{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;

}
.forr div{
    width: 100% !important;
}
#add{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 600px;
    justify-content: space-evenly;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.radio{
    display:flex;
    padding:30px;
}
.radio label{
    display: flex;
    align-items: center;
    margin-left:30px;
}
