
@import url('https://fonts.cdnfonts.com/css/alegreya-sans-sc');
body{
   background-color:  #ECECEC;
}
.parahist{
    color: #E1822E !important;
    font-size: 2vw;
    width: 80vw;
}
#h2top{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:#E1822E;
    font-family: 'Alegreya Sans SC', sans-serif;
}
#h2top h2{
    font-size: 4vw;

}
.un{
    width: 5vw;
    height: 15vw;
    border-radius: 7vw;
    transform: rotate(-13.87deg);
    margin-left: 2vw;
}
.deux{
    width: 4vw;
    height: 12vw;
    border-radius: 7vw;
    transform: rotate(-13.87deg);
    margin-left: 1vw; 
    margin-bottom: 2vw;
}
.trois{
    width: 3vw;
    height: 9vw;
    border-radius: 7vw;
    transform: rotate(-13.87deg);
    margin-left: 1vw; 
    margin-bottom: 4vw;
}

.carregauche{
    width: 5vw;
    height: 5vw; 
    border-radius: 1vw;
    margin-right: 5vw;
}
.carredroit{
    width: 5vw;
    height: 5vw;
    margin-left:5vw;
    border-radius: 1vw;
}
.la2emedivdehistoire{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.entre2{
    display: flex;
    flex-direction: column;
    align-items: end;
    background-image: url('image/Capture_d_écran_du_2023-02-27_12-20-34-removebg-preview.png');
    background-position: 160px;
    border-radius: 1vw;
    margin-right: 2vw;
    margin-top: 4vw;
}
.wave1{
    width: 10vw;
    margin-right:-8vw ;
    transform: rotate(90deg);
}
.wave2{
    width: 10vw;
    margin-left:-8vw ;
    transform: rotate(270deg);
}
.troisieme{
    width: 13vw;
    height: 10vw;
    transform: rotate(5deg);
}
.espace{
    margin-top: 4vw;
    position: relative;
    left: 5%;
}
.espace1{
    position: relative;
    left: 85%;
}
.troisieme1{
    width: 13vw;
    height: 10vw;
    margin-left:-15vw ;
    transform: rotate(-12deg);
}
.quatrime{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 13vw;
    height: 11vw;
    margin-left: 6vw;
    margin-bottom: -1vw;
    transform: rotate(90deg);
}
.quatrime1{
    
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 13vw;
    height: 11vw;
    transform: rotate(90deg);
}
.quatrime2{
    transform: rotate(270deg);
}
.quatrime3{
    transform: rotate(270deg);
}
.date{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.texthistoire{
    display: flex;
    justify-content: center;
    border-radius: 2vw;
    width: 70vw;
    margin-left: 15vw;
    background-image: url('image/Component_3.png');
    background-position: 0vw;
    background-size: cover;
   
    background-repeat: no-repeat;
    
}
.ptexthistoire{
    color:white;
    width: 55vw;
    text-align: center;
    letter-spacing: -0.035em;
    font-size: 1.2em;
    font-family: 'Alegreya Sans SC', sans-serif;
}
/* .elemhistoire{
   
} */
.anneehistoire{
    border: 1px solid black;
    border-radius: 100vw;
    width: 10vw;
    height: 10vw;
    text-align: center;
    line-height: 10vw;
    font-size: 40px;
    color:#E1822E;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.moishistoire{
    font-family: 'Antonio';
    letter-spacing: 0.03em;
    color: rgba(211, 211, 211, 0.32);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    font-size: 4vw;

}
.quatiemeelemphotodanshistoire{
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}
.boule{
    display: flex;
    width: 1vw;
    height: 1vw;
    border: 1px solid;
    border-radius: 100%;
    align-self: center;
}
.trait{
    display: flex;
    width: 5vw;
    height: 0vw;
    border: 1px solid rgba(0, 0, 0, 0.37) ;
    align-self: center;
}
.anne{
    display:flex ;
    flex-direction: row;
}
