#menu {visibility: hidden;} /* hiding the checkbox */ 

/* hamburger */
label {width:60px;height:8px;border-radius:5px;background:#fff;cursor:pointer;-webkit-transition:0.6s;transition:0.6s;position:absolute;top:10%;left:90%;margin-left:-50px;margin-top:-7.5px;}
label:before{content:"";width:60px;height:8px;background:#fff;position:absolute;transform:translateY(-20px);-webkit-transform:translateY(-20px);border-radius:5px;-webkit-transition:0.6s;transition:0.6s;}
label:after{content:"";width:60px;height:8px;background:#fff;position:absolute;transform:translateY(20px);-webkit-transform:translateY(20px);border-radius:5px;transition:0.6s;-webkit-transition:0.6s;}

/* animation when checked */
#menu:checked + label {width:0px;}
#menu:checked + label:before {transform:rotate(45deg) translate(0px);-webkit-transform:rotate(45deg) translate(0px);}
#menu:checked + label:after {transform:rotate(-45deg) translate(0px);-webkit-transform:rotate(-45deg) translate(0px);}

#li{
    height: 300px;
    visibility: hidden;
    position: absolute;
    top: 20%;
    right: 0;
    background-color: aliceblue;
}

#menu:checked ~ #li{
    
    visibility:visible;

}
#li{
    opacity: 0.6;
}
#li ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#li ul li{
    display: flex;
    width:80%;
    border-radius: 60px;
    flex-direction: column;
    align-items: flex-start;
}
.fs-4{
    font-size:32px;
}
ul li a span{
    font-size:20px;
}
li:hover{
    background-color: #e48634;
    
    
}
li:hover span {
    color: white !important;
}

/* html{height:100%;}
body {background:#000;background:linear-gradient(#264FAD, rgba(0, 0, 0, 0) 90%), linear-gradient(-45deg, #C2553C 25%, #000 75%) !important;background:-webkit-linear-gradient(#264FAD, rgba(0, 0, 0, 0) 90%), -webkit-linear-gradient(-45deg, #C2553C 25%, #000 75%) !important;} */