
@import url('https://fonts.cdnfonts.com/css/alegreya-sans-sc');
html{
    margin: 0;
    padding: 0;
}
.scroll{
    transform: rotate(90deg);
    /* =====a activer pour avoir les fleches qui soit animé (fait lager)==== */
    animation: 7s scro ease infinite;
}
.scroll img{
    filter: brightness(0) contrast(3) invert(1) opacity(0.5);
    width: 40px;
}
.tologo img{
    filter: brightness(1);
}
h1{
    font-size: 4rem !important;
    display: flex;
    font-family: 'Alegreya Sans SC', sans-serif;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
}
p{
    color:white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
    width:240px;
}
@keyframes scro {
    from{transform:translateY(20px) rotate(90deg);}
    60%{transform:translateY(0px) rotate(90deg);}

    to{transform:translateY(10px) rotate(90deg);}
}