@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body{
  margin-top: -32px !important;
  
    overflow-x: hidden;


}

h1 {
    font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  /* position:relative; */
  text-align:center;
  background-image: url('/tortudev/img/turtle.jpg');
  /* background-repeat: no-repeat; */
  background-size:100%;
  background-position-y: 40%;

  color:white;
}
.header img{
    filter: brightness(0.7) ;
}
.filter{
    background-color: rgba(0, 0, 0, 0.6)
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {

  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flexh { /*Flexbox for containers*/
  display: flex;
  align-items: center;
  flex-direction: column;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}
.top{
    display: flex;
    justify-content: space-between;
}
/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 12s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 16s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 20s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 28s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}